html.mediasite-proxy-fullscreen {
    scrollbar-width: none; /* Hide scrollbar on Firefox */
}

.mediasite-proxy-fullscreen body::-webkit-scrollbar {
    display: none;
}

.mediasite-proxy-play-control {
    font-size: 0.8em;
    position: absolute;
    right: 8%;
    background-color: #55555588;
    color: white;
    border-radius: 0.3em;
    padding: 4px 10px;
    margin: 4px;
    cursor: pointer;
    transition: text-shadow 0.4s;
}

.mediasite-proxy-play-control:hover {
    text-shadow: 0 0 8px white;
}

.on-fullscreen .mediasite-proxy-play-control {
    position: fixed;
    top: 0;
    right: 8px;
    z-index: 1200;
}

.card-body.on-fullscreen #contentframe,
.mediasite-content.on-fullscreen iframe {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1100;
    border: none;
    border-radius: 0;
    min-height: initial;
    max-height: initial;
}

canvas.mediasite-proxy-portion {
    width: 100%;
    height: 5px;
    background-color: #e6f3f3;
}

li.mediasite summary {
    display: flex;
    align-items: center;
    margin-left: -4em;
}

li.mediasite summary > div {
    width: 100%;
}

li.mediasite details {
    margin-left: 4em;
}

li.mediasite details[open] + canvas.mediasite-proxy-portion {
    display: none;
}

li.mediasite details h5 {
    margin-top: 1em;
}
